.dropdown{

border: none;
background-color: #07172f;
  padding: 10px 30px;

   
    
}


.dropdown1{


 cursor: pointer;
  border: none;

    
    
}


.dropdown2:hover{

color: #2b7fff;
    
}


.dropdown3:hover{

color: #2b7fff;
    
}


.dropdown4:hover{

color: #2b7fff;
    
}